<h1 #topText class="top-logo absolute-box">
  <img src="../../assets/logo_white.svg" alt="YUKA YAMAMOTO logo image" />
</h1>
<div #slider class="slider absolute-box"></div>

<app-header [whitelogo]="true"></app-header>

<div #container class="hero-container">
  <canvas #myCanvas id="myCanvas"></canvas>

  <div #headline class="headline absolute-box">
    <!-- <div class="title">
      <h1></h1>
    </div> -->

    <div class="description" >
      <p>Hi There. My name is Yuka Yamamoto.</p>
      <p>I'm looking for a full-time position.</p>
      <p>I would like to help to make your experience wonderful.</p>
    </div>
  </div>
</div>
