@import "../app.component.scss";

.top-text {
  top: 60%;
  left: 30%;
  color: $black;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  transform: translate(-30%, -60%);
  z-index: 1;
}

.slider {
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $offWhite;
}

main {
  height: 100%;
  width: 100%;
  @include flex();
}

.hero-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#myCanvas,
.absolute-box {
  position: absolute;
}

.absolute-box {
  left: 50%;
  transform: translateX(-50%);
}

#myCanvas {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.top-nav {
  top: 50%;
  transform: translate(-50%, -50%);
  ul {
    text-align: center;
  }

  li:first-child {
    padding-bottom: 3rem;
  }

  a {
    font-size: 3rem;
    letter-spacing: 0.8rem;
    font-family: "Anton", sans-serif;
  }

  a:hover,
  a:active {
    color: $yellow;
    transition: all 0.8s ease-in-out;
  }

  a:after,
  a:before {
    content: "";
    width: 0%;
    position: relative;
    top: auto;
    bottom: 0;
    display: block;
    margin: 0 auto;
    border: 1px solid $offWhite;
    transition: all 0.8s ease-in-out;
  }

  a:hover:after,
  a:hover::before {
    width: 100%;
    border-color: $yellow;
    transition: width 0.8s ease-in-out;
  }

  a:hover:before {
    width: 100%;
    top: 0;
    bottom: auto;
  }
}

.headline {
  width: 90%;
  top: 5%;
  .title {
    padding-bottom: 1rem;
    h1 {
      font-size: 1.3rem;
      letter-spacing: 0.3rem;
      font-family: "Anton", sans-serif;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
    }
  }
  .description {
    width: 80%;
    p {
      font-size: 0.8rem;
      font-weight: 300;
    }
  }
}

.logo {
  width: 100px;
  top: 90%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.contact {
  width: fit-content;
  top: 80%;
  p {
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    border-top: 1px solid $yellow;
    border-bottom: 1px solid $yellow;
    color: $yellow;
    transition: all 0.5s ease-in-out;
    font-family: "Anton", sans-serif;
  }
  p:hover {
    border-top: 1px solid $Dyellow;
    border-bottom: 1px solid $Dyellow;
    color: $Dyellow;
  }
}

@media screen and (min-width: 768px) {
  .top-nav {
    li:first-child {
      padding-bottom: 5rem;
    }
    a {
      font-size: 3.5rem;
      letter-spacing: 0.8rem;
    }
  }


}

@media screen and (min-width: 1024px) {
  .top-nav {
    width: 100%;
    top: 43%;
    transform: translate(-50%, -43%);
    ul {
      display: flex;
      justify-content: space-around;
    }
    li {
      text-align: center;
    }

    li:first-child {
      padding-bottom: 0;
      margin-right: 0;
    }

    a {
      width: fit-content;
    }
  }

  .headline {
    width: initial;
    top: 95%;
    left: 5%;
    transform: translate(-5%, -95%);
    .description {
      width: 100%;
    }
  }

  .logo {
    top: 95%;
    left: 95%;
    transform: translate(-95%, -95%);
  }

  .contact {
    top: 85%;
    left: 95%;
    transform: translate(-95%, -85%);
  }
}
