<main>
  <h3 #topText class="top-text absolute-box">Be active.<br />Be curious.<br />Be human.</h3>
  <div #slider class="slider absolute-box"></div>

  <div #container class="hero-container">
    <canvas #myCanvas id="myCanvas"></canvas>

    <div class="top-nav absolute-box" >
      <ul>
        <li #projects><a routerLink="/projects">PROJECTS</a></li>
        <li #about ><a routerLink="/about">ABOUT</a></li>
      </ul>
    </div>

    <div #headline class="headline absolute-box">
      <div class="title">
        <h1>YUKA YAMAMOTO</h1>
        <h2>Front-end Developer</h2>
      </div>

      <div class="description">
        <p>Hi There. My name is Yuka Yamamoto.</p>
        <p>
          I'm looking for a full-time position as a Front-end
          Developer.
        </p>
        <p>I would like to help to make your experience wonderful.</p>
      </div>
    </div>

    <div #logo class="logo absolute-box">
      <a routerLink="/">
        <img src="../../assets/logo_white.svg" alt="YUKA YAMAMOTO logo image">
      </a>
    </div>

    <div #contact class="contact absolute-box">
      <a routerLink="/contact"><p>GET IN TOUCH</p></a>
    </div>

  </div>
</main>
