@import '../app.component.scss';

header {
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $offWhite;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  z-index: 4;
}

.header-inner {
  height: 100%;
  position: relative;
  @include flex();
  justify-content: space-around;
}

nav,
.nav-items {
  position: absolute;
}

nav {
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  transform: translateX(100%);
  @include transition();
}

.nav-items {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  a {
    width: 100%;
    display: block;
    margin-bottom: 3rem;
    font-size: 1.3rem;
    letter-spacing: 1.3px;
    font-family: "Anton", sans-serif;
    text-align: center;
    color: $black;
    @include transition();
  }
  a:hover,
  a:active {
    font-weight: bold;
    @include transition();
  }
  a:after,
  a:before {
    content: "";
    width: 0%;
    position: relative;
    bottom: 0;
    display: block;
    margin: 0 auto;
    border: 1px solid $black;
    @include transition();
  }
  a:hover:after,
  a:hover:before {
    width: 100%;
    border-color: $black;
    @include transition();
  }
  a:hover:before {
    width: 100%;
    top: 0;
    bottom: auto;
  }
  .nav-item:last-child {
    a {
      margin-bottom: 0;
    }
  }
}

.hamburger {
  height: 100%;
  width: 55px;
  background-color: transparent;
  border-color: transparent;
  z-index: 5;
  span {
    height: 1px;
    width: 100%;
    position: relative;
    display: block;
    background-color: $black;
    @include transition();
  }
  span:nth-child(1) {
    width: 30%;
    top: 0;
  }
  span:nth-child(2) {
    margin-bottom: 24px;
    font-family: "Anton", sans-serif;
    background-color: transparent;
  }
  span:nth-child(3) {
    top: 0;
  }
}

.hamburger:hover {
  span:nth-child(1) {
    width: 100%;
  }
}

// .active
nav.active {
  transform: translateX(0);
  background-color: $offWhite;
}

.hamburger.active {
  span {
    @include transition();
  }
  span:nth-child(1) {
    width: 100%;
    top: 13px;
    transform: rotate(45deg);
  }
  span:nth-child(2) {
    opacity: 0;
  }
  span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }
}

// For individual page
.activePage {
  color: $black !important;
}

.activePage::after,
.activePage::before {
  width: 100% !important;
}

@media screen and (min-width: 1024px) {
  nav {
    height: inherit;
    width: 50%;
    position: static;
    display: flex;
    justify-content: flex-end;
    transform: initial;
  }

  .header-title {
    margin-bottom: 0;
  }

  .nav-items {
    width: 100%;
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 0;
    a {
      margin-bottom: 0;
      font-size: 1rem;
    }
  }

  .hamburger {
    display: none;
  }
}
