    <div class="wrap">
      <main>
        <section class="gallery-header">
          <header class="d-flex justify-content-around">
            <h1 class="logo">
              SIGRAPH 2022
            </h1>
            <nav>
              <div class="hamburger-warapper">
                <div class="hamburger">
                  <div class="line"></div>
                  <div class="line"></div>
                  <div class="line"></div>
                </div>
              </div>
              <ul class="nav-links d-flex">
                <li><a href="#">REGISTER</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">PROJECTS</a></li>
              </ul>
            </nav>
          </header>

          <div class="poster-content">
            <div class="poster-container d-flex justify-content-center">
              <section class="poster-body">
                <div class="title">
                  <img src="https://res.cloudinary.com/yuka-web/image/upload/v1658876956/conferenceposter_title.png" alt="conference poster title" />
                </div>
                <div class="bar bar--black"></div>
                <div class="bar bar--red"></div>
                <div class="bar bar--middle bar--green"></div>
                <div class="date">
                  <img src="https://res.cloudinary.com/yuka-web/image/upload/v1658876956/conferenceposter_date.png" alt="conference poster date" />
                </div>
                <div class="bar bar--black"></div>
                <div class="bar bar--middle bar--red"></div>
                <div class="bar bar--bottom bar--green"></div>
                <div class="bar bar--black"></div>
                <div class="bar bar--red"></div>
                <div class="bar bar--middle bar--green"></div>
                <div class="bar bar--black"></div>
              </section>
            </div>
          </div>
        </section>
        <section class="gallery-topics">
          <div class="topics-headeing">
            <h2>SHARE<br />AND<br />EXPLORE</h2>
            <p>in your unique area of interest.</p>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box1"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box2">
              <div class="box d-flex justify-content-center align-items-center">
                PRODUCTION<br />
                and<br />
                ANIMATION
              </div>
            </div>
            <div class="box-warapper col-sm-12 col-md-4 box3"><div class="box"></div></div>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box4"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box5">
              <div class="box d-flex justify-content-center align-items-center">
                RESEARCH<br />
                and<br />
                EDUCATION
              </div>
            </div>
            <div class="box-warapper col-sm-12 col-md-4 box6"><div class="rac"></div></div>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box7"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box8">
              <div class="box d-flex justify-content-center align-items-center">
                ARTS<br />
                and<br />
                DESIGN
              </div>
            </div>
            <div class="box-warapper col-sm-12 col-md-4 box9"><div class="box"></div></div>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box10"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box11">
              <div class="box d-flex justify-content-center align-items-center">
                GAMING<br />
                and<br />
                INTERACTIVE
              </div>
            </div>
            <div class="box-warapper col-sm-12 col-md-4 box12"><div class="box"></div></div>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box13"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box14">
              <div class="box d-flex justify-content-center align-items-center">
                NEW<br />
                TECHNOLOGIES<br />
              </div>
            </div>
            <div class="box-warapper col-sm-12 col-md-4 box15"><div class="box"></div></div>
          </div>
          <div class="row">
            <div class="box-warapper col-sm-12 col-md-4 box16"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box17"><div class="box"></div></div>
            <div class="box-warapper col-sm-12 col-md-4 box18"><div class="box"></div></div>
          </div>
          <div class="topics-cta d-flex justify-content-center align-items-center">
            <div class="topics-cta-warapper">
              <h2>READY?</h2>
              <div class="topics-cta-line">
                <a href="#">REGISTER HERE</a>
              </div>
            </div>
          </div>
        </section>
        <footer>
          <small
            >© 2022 YUKA YAMAMOTO</small
          >
        </footer>
      </main>
    </div>

