@import "../app.component.scss";

.contactContainer {
  flex-direction: column;
  background-color: $offWhite;
  overflow: hidden;
}

app-header,
footer {
  flex-grow: 0;
}

.wrap {
  @include flex();
}

main {
  min-height: 87vh;
  margin-top: 8vh;
  position: relative;
  padding: 2rem 2rem;
  @include flex();
  flex-grow: 1;
  flex-direction: column;
  .desc-wrap {
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 2.5rem;
      letter-spacing: 5px;
      font-family: "Anton", sans-serif;
      color: $black;
    }
    p {
      font-size: 0.8rem;
      margin-bottom: 1rem;
      color: $black;
    }
    ul {
      width: 100%;
      li {
        margin-right: 1rem;
        text-align: center;
        font-size: .8rem;
        font-weight: bold;
        a {
          width: 100%;
          display: block;
          letter-spacing: 5px;
          font-size: 1rem;
          font-family: "Anton", sans-serif;
          color: $black;
          transition: all .3s ease-in-out;
        }
        a:hover,
        a:active {
          color: $yellow;
        }
      }
      li:last-child {
        margin-right: 0;
      }
    }
  }
  .form-wrap {
    width: 100%;
    padding: 3rem 0;
    input {
      padding: 10px;
    }
    button {
      margin-top: 1rem;
      --bs-btn-border-radius: none;
    }
  }

  .success-message {
    span {
      font-family: "Anton", sans-serif;
    }
  }

  .alert {
    background-color: transparent;
    border: none;
  }
  .img-wrap {
    height: 3.5vh;
    margin-top: 1rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    img {
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
}

footer {
  height: 5vh;
  small {
    font-size: 0.6rem;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 5rem 5rem;
    .desc-wrap {
      h2 {
        font-size: 4rem;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  main {
    padding: 3rem 10rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .desc-wrap {
      width: 30%;
      h2 {
        font-size: 5rem;
      }
    }
    .form-wrap {
      width: 60%;
    }
  }
}

@media screen and (min-width: 1800px) {
  main {
    .form-wrap {
      width: 50%;
    }
  }
}
