<div class="contactContainer">
  <app-header [blacklogo]="true" [blacknav]="true"></app-header>
  <main>
    <div class="desc-wrap wrap">
      <h2>GET IN TOUCH</h2>
      <p>Here are some ways you can contact me.</p>
      <ul class="wrap">
        <li><a href="mailto:yuka.yamamoto555@gmail.com">Email</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/yuka-yamamoto-7a422421b"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <!-- <li>
          <a href="https://www.instagram.com/yukayama___" target="_blank"
            >Instagram</a
          >
        </li> -->
      </ul>
    </div>
    <div class="form-wrap">
      <form #form="ngForm" (ngSubmit)="submit(name_, email_, message_)">
        <div class="mb-3">
          <label for="name">What's Your Name?</label>
          <input
            #name_="ngModel"
            [(ngModel)]="name"
            name="name"
            type="text"
            class="form-control"
            id="name"
            minlength="1"
            required
          />
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="name_.touched && name_.invalid"
        >
          Please enter your name.
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">What's Your Email?</label>
          <input
            #email_="ngModel"
            [(ngModel)]="email"
            name="email"
            type="text"
            class="form-control"
            id="email"
            required
            pattern="[\w-]+@([\w-]+\.)+[\w-]+"
          />
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="email_.touched && email_.invalid"
        >
          Please enter a valid formatted email.
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea
            #message_="ngModel"
            [(ngModel)]="message"
            name="message"
            class="form-control"
            id="message"
            cols="3"
            rows="5"
            maxlength="1000"
            required
            minlength="1"
          ></textarea>
        </div>
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="message_.touched && message_.invalid"
        >
          Please write some content.
        </div>

        <re-captcha
          (resolved)="resolved($event)"
          siteKey="6Le2PucgAAAAAFurFKiZQbacYvL3n8N8AiGKXyaR"
        ></re-captcha>

        <button
          type="submit"
          [disabled]="formInValid"
          class="btn submitbtn"
          role="button"
        >
          SUBMIT
        </button>
        <div class="mt-3 success-message" [hidden]="formMessageHidden">
          Thank you for contacting me, <span>{{ name }}</span
          >. I will get in touch with you soon!
        </div>
      </form>
    </div>
  </main>
  <footer class="wrap"><small>&copy;Yuka Yamamoto. 2023.</small></footer>
</div>
