<app-tr-header></app-tr-header>
<main>
  <div id="herocarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <div class="carousel-item-box wrap">
          <div class="cta wrap">
            <div class="cta-headline">
              <h1>Juurou × TRUNK RECORDS</h1>
              <p>
                Trunk Records
                <br />
                Original Goods
              </p>
            </div>
            <button class="ctaBtn" routerLink="/trunkrecords/apparel">Explore
              <svg viewBox="0 0 320 512">
                <path
                  d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                />
              </svg>
            </button>
          </div>
          <div class="img-box">
            <img
              src="../../../assets/trunkrecords/hero_item2.png"
              class="d-block w-100"
              alt="Trunk Records Original Goods"
            />
          </div>
        </div>
      </div>

      <div class="carousel-item" data-bs-interval="10000">
        <div class="carousel-item-box wrap">
          <div class="cta wrap">
            <div class="cta-headline">
              <h1>Mangatjay Romāns</h1>
              <p>
                Trunk Records<br />
                Exclusice clear Vinyl
              </p>
            </div>
            <button class="ctaBtn" routerLink="/trunkrecords/apparel">Pre Order
              <svg viewBox="0 0 320 512">
                <path
                  d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
                />
              </svg>
            </button>
          </div>
          <div class="img-box">
            <img
              src="../../../assets/trunkrecords/hero_item1.png"
              class="d-block w-100"
              alt="Mangatjay Romāns color vinyl"
            />
          </div>
        </div>
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#herocarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#herocarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <section class="category wrap">
    <div class="category-items">
      <div class="category-item wrap">
        <a routerLink="/apparel"
          ><h3>
            APPAREL<svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg></h3
        ></a>
      </div>
    </div>

    <div class="category-items wrap">
      <div class="category-item wrap">
        <a routerLink=""
          ><h3>
            VINYLS<svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg></h3
        ></a>
      </div>
    </div>

    <div class="category-items wrap">
      <div class="category-item wrap">
        <a routerLink=""
          ><h3>
            BOOKS<svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg></h3
        ></a>
      </div>
    </div>

    <div class="category-items wrap">
      <div class="category-item wrap">
        <a routerLink=""
          ><h3>
            CASSETTE<br />TAPE<svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg></h3
        ></a>
      </div>
    </div>
  </section>

  <section class="newarrivals wrap">
    <h2>NEW ARRIVALS</h2>
    <div class="newitems wrap">
    <a href="">
    <div class="newitem wrap">
        <div class="item-img">
          <img src="../../../assets/trunkrecords/newitems/newitem1.png" alt="Hugubert Angjelko, It's Not Brain Surgery" />
        </div>
        <div class="item-desc wrap">
          <h3>Hugubert Angjelko</h3>
          <p>
            It's Not Brain Surgery
            <svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg>
          </p>
        </div>
    </div>
  </a>


  <a routerLink="">
    <div class="newitem wrap">
        <div class="item-img">
          <img src="../../../assets/trunkrecords/newitems/newitem2.png" alt="Hugubert Angjelko, It's Not Brain Surgery" />
        </div>
        <div class="item-desc wrap">
          <h3>Alcides</h3>
          <p>
            Under Your Nose
            <svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg>
          </p>
        </div>
    </div>
  </a>

  <a routerLink="">
    <div class="newitem wrap">
        <div class="item-img">
          <img src="../../../assets/trunkrecords/newitems/newitem3.png" alt="Hugubert Angjelko, It's Not Brain Surgery" />
        </div>
        <div class="item-desc wrap">
          <h3>Yevhen</h3>
          <p>
            Right Off the Bat
            <svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg>
          </p>
        </div>
    </div>
  </a>

  <a routerLink="">
    <div class="newitem wrap">
        <div class="item-img">
          <img src="../../../assets/trunkrecords/newitems/newitem4.png" alt="Hugubert Angjelko, It's Not Brain Surgery" />
        </div>
        <div class="item-desc wrap">
          <h3>The fish</h3>
          <p>
            A Lemon
            <svg viewBox="0 0 320 512">
              <path
                d="M96 480c-8.188 0-16.38-3.125-22.62-9.375c-12.5-12.5-12.5-32.75 0-45.25L242.8 256L73.38 86.63c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0l192 192c12.5 12.5 12.5 32.75 0 45.25l-192 192C112.4 476.9 104.2 480 96 480z"
              />
            </svg>
          </p>
        </div>
    </div>
  </a>
</div>
  </section>

</main>
<app-tr-footer></app-tr-footer>
