@import "../../common-style/common-style.component.scss";

main {
  min-height: 60vh;
  @include flex();
  flex-direction: column;
  .login-wrap {
    width: 100%;
    @include flex();
    flex-direction: column;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      letter-spacing: 1.3px;
    }
  }
}

form {
  width: 100%;
  padding: 1rem;
  input::placeholder{
    font-size: .8rem
  }
  .alert{
    border: none;
    --bs-alert-bg: none;
  }
}

.button-wrap {
  @include flex();
  justify-content: space-between;
  align-items: flex-end;
  button {
    font-size: .8rem;
    color: $white;
    background-color: $black;
    --bs-btn-border-radius: none !important;
  }
  p {
    margin: 0;
    a {
      font-size: 0.8rem;
      color: $black;
    }
    a:hover {
      color: $orange;
    }
  }
}
@media screen and (min-width: 768px) {
  form {
    width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  main {
  .login-wrap {
    width: initial;
    padding: 2rem;
    border: 0.75px solid lightgray;
  }}
}
