@import '../app.component.scss';

footer {
  height: 20vh;
  @include flex();
  flex-direction: column;
  justify-content: flex-end;
  background-color: $offWhite;
  .contact {
    width: fit-content;
    top: 80%;
    p {
      font-size: 1.8rem;
      letter-spacing: 3px;
      font-family: "Anton", sans-serif;
      transition: all .3s ease-in-out;
      color: $black;
    }
    p:hover {
      color: $yellow;
    }
  }
}

small {
  margin: 1rem 0;
  font-size: .6rem;
}
