<div class="projectsContainer">
  <app-header [whitelogo]="true"></app-header>

  <section class="projectsSection">
    <div class="wrapper">
      <div class="indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="nav">
          <p>scroll to explore</p>
        </div>
      </div>

      <div class="line"></div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">Landing Page</p>
          <h3>Design Conference Website</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>Illustrator</li>
            </ul>
          </div>
          <a
            href="https://yukayamamoto.me/conferenceposter"
            target="_blank"
            class="detail-btn"
            >VIEW SITE
          </a>
          <a
            href="https://github.com/yamamoto-yuka/SASS-conferencePoster"
            target="_blank"
            class="github-btn"
            >VIEW GITHUB
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1659686820/conferenceposter_b6907cea78.gif"
            alt="Conference Poster Website"
          />
        </div>
      </div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">E-Commerce site</p>
          <h3>Trunk Records</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>Angular</li>
              <li>Strapi</li>
              <li>Illustrator</li>
              <li>Photoshop</li>
              <li>Figma</li>
            </ul>
          </div>
          <a
            href="https://yukayamamoto.me/trunkrecords"
            target="_blank"
            class="detail-btn"
            >VIEW SITE
          </a>
          <a
            href="https://github.com/yamamoto-yuka/ng-strapi-ecommercesite/tree/master/ng-TrunkRecords-eCommerceSite-Client"
            target="_blank"
            class="github-btn"
            >VIEW GITHUB
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1659687641/trunkrecords_lhpxj9.gif"
            alt="Trunk Records"
          />
        </div>
      </div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">E-Commerce site</p>
          <h3>JFlower</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>PHP</li>
              <li>MySQL</li>
              <li>Sass</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <a
            href="https://jflower.yukayamamoto.me"
            target="_blank"
            class="detail-btn"
            >VIEW SITE
          </a>
          <a
            href="https://github.com/yamamoto-yuka/php-florists-eCommerceSite"
            target="_blank"
            class="github-btn"
            >VIEW GITHUB
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1659686825/jflower_5bd144bd9e.gif"
            alt="Conference Poster Website"
          />
        </div>
      </div>
      <small>&copy;Yuka Yamamoto. 2022.</small>
    </div>
  </section>
</div>
