@import "../app.component.scss";

@keyframes topTobottom {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  100% {
    opacity: 0;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
}

// Header
app-header,
app-footer {
  flex-grow: 0;
}

// Main
main {
  flex-grow: 1;
}

.projectsSection {
  position: relative;
  background-color: #0d0d0d;
}

.indicators {
  left: 8%;
  top: 0;
  margin: 15vh 0;
  height: 50vh;
  width: 1.5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.nav {
  position: absolute;
  top: 70%;
  left: 5%;
  transform: translate(-5%, -70%);
  font-size: 0.8rem;
  font-family: "lato";
  color: white;
}

.line {
  position: absolute;
  top: 75%;
  left: 8%;
  width: 1.5px;
  animation: topTobottom 1s normal forwards ease-in-out;
  background-color: white;
}

.indicator {
  width: 100%;
  background-color: #adadad;
  flex-grow: 1;
  margin: 2px 0;
}

.point {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  position: relative;
}

img {
  height: 70vh;
  width: 80%;
  object-fit: cover;
  filter: brightness(40%);
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.wrapper {
  height: 100vh;
  width: 100%;
}

h3 {
  margin: 0;
  font-size: 4.5rem;
  font-family: "Anton";
  letter-spacing: 7px;
  color: white;
}

.skill {
  margin: 1rem 0;
  display: flex;
  font-size: 0.8rem;
  color: white;
  font-family: "lato";
  p {
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 1rem;
  }
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    li {
      padding: 0 1rem;
      border-right: 1px solid white;
      position: relative;
    }
    li:last-child {
      border-right: none;
    }
  }
}

.detail-btn,
.github-btn {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: .8rem;
  font-family: "lato";
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.detail-btn:hover,
.github-btn:hover {
  color: $black;
  background-color: white;
}
.detail-btn{
  margin-right: 1rem;
}

small {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  margin: 1rem 0;
  font-size: .6rem;
  color: $offWhite;
}

@media screen and (max-width: 1023px) {
  .indicators,
  .nav,
  .line{
    display: none;
  }

  .wrapper{
    height: 100%;
  }

}

@media screen and (max-width: 767px) {
  .projectsSection {
    margin-top: 15vh;
  }
  

  .point{
    height: 80vh;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;
  }

  article{
    height: 50%;
    padding-top:3rem;
    position: initial;
    top: initial;
    left: initial;
    transform: initial;
  }
  img{
    height: 50%;
    width: 100%;
  }

  h3{
    font-size: 2rem;
  }

  .skill{
    font-size: .5rem;
  }

  .detail-btn {
    font-size: .5rem;
  }

}

