<div class="projectsContainer">
  <app-header [whitelogo]="true"></app-header>

  <section class="projectsSection">
    <div class="wrapper">
      <div class="indicators">
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="indicator"></div>
        <div class="nav">
          <p>scroll to explore</p>
        </div>
      </div>

      <div class="line"></div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">Print Design</p>
          <h3>Design Conference Poster</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>Illustrator</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <a
            href="https://www.behance.net/gallery/155931141/Desing-Conference-Poster"
            target="_blank"
            class="detail-btn"
            >Behance
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1671085886/Artboard_1_copy_2-50_1_g6wur3.png"
            alt="Conference Poster Website"
          />
        </div>
      </div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">UX Design</p>
          <h3>Payment System Application Case Study</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>Figma</li>
              <li>Photoshop</li>
            </ul>
          </div>
          <a
            href="https://www.behance.net/gallery/160794787/UX-Case-Study-Freelance-Payment-System"
            target="_blank"
            class="detail-btn"
            >Behance
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1673196332/Thumbnail1_1_dor0f5.png"
            alt="Payment System Application"
          />
        </div>
      </div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">Web Development</p>
          <h3>Design Conference Landing Page</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>HTML5</li>
              <li>Sass</li>
              <li>Illustrator</li>
            </ul>
          </div>
          <a
            href="https://yukayamamoto.me/conferenceposter"
            target="_blank"
            class="detail-btn"
            >VIEW SITE
          </a>
          <a
            href="https://github.com/yamamoto-yuka/SASS-conferencePoster"
            target="_blank"
            class="github-btn"
            >VIEW GITHUB
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1659686820/conferenceposter_b6907cea78.gif"
            alt="Conference Poster Website"
          />
        </div>
      </div>
      <div class="point">
        <article class="desc-wrap">
          <p class="title">Web App Development</p>
          <h3>E-Commerce site (Trunk Records)</h3>
          <div class="skill">
            <p>Skills</p>
            <ul>
              <li>Angular</li>
              <li>Strapi</li>
              <li>Illustrator</li>
              <li>Photoshop</li>
              <li>Figma</li>
            </ul>
          </div>
          <a
            href="https://yukayamamoto.me/trunkrecords"
            target="_blank"
            class="detail-btn"
            >VIEW SITE
          </a>
          <a
            href="https://github.com/yamamoto-yuka/ng-strapi-ecommercesite/tree/master/ng-TrunkRecords-eCommerceSite-Client"
            target="_blank"
            class="github-btn"
            >VIEW GITHUB
          </a>
        </article>
        <div class="img-wrap">
          <img
            src="https://res.cloudinary.com/yuka-web/image/upload/v1659687641/trunkrecords_lhpxj9.gif"
            alt="Trunk Records"
          />
        </div>
      </div>
      <small>&copy;Yuka Yamamoto. 2022.</small>
    </div>
  </section>
</div>
