@import "../app.component.scss";

@keyframes topTobottom {
  0% {
    height: 0;
  }
  50% {
    height: 100px;
  }
  100% {
    opacity: 0;
  }
}

.projectsContainer {
  display: flex;
  flex-direction: column;
}

// Header
app-header,
app-footer {
  flex-grow: 0;
}

// Main
main {
  flex-grow: 1;
}

.projectsSection {
  position: relative;
  background-color: #0d0d0d;
}

.indicators {
  left: 8%;
  top: 0;
  margin: 15vh 0;
  height: 50vh;
  width: 1.5px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.nav {
  width: 100%;
  margin-top: 2rem;
  font-size: 0.8rem;
  font-family: "lato";
  color: white;
}

.line {
  position: absolute;
  top: 70%;
  left: 8%;
  width: 1.5px;
  animation: topTobottom 3s normal forwards ease-in-out;
  background-color: white;
}

.indicator {
  width: 100%;
  background-color: #adadad;
  flex-grow: 1;
  margin: 2px 0;
}

.point {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  position: relative;
}

.img-wrap {
  height: 70vh;
  width: 80%;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: brightness(30%);
  }
}

article {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.wrapper {
  height: 100vh;
  width: 100%;
}

.title {
  font-size: 0.8rem;
  font-weight: 800;
  font-family: "lato";
}

h3 {
  margin: 0;
  font-size: 3.5rem;
  font-family: "Anton";
  letter-spacing: 7px;
  color: white;
}

.skill {
  margin: 1rem 0;
  display: flex;
  font-size: 0.8rem;
  color: white;
  font-family: "lato";
  p {
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 1rem;
  }
  ul {
    display: flex;
    padding: 0;
    list-style: none;
    li {
      padding: 0 1rem;
      border-right: 1px solid white;
      position: relative;
    }
    li:last-child {
      border-right: none;
    }
  }
}

.detail-btn,
.github-btn {
  cursor: pointer;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
  font-size: 0.8rem;
  font-family: "lato";
  font-weight: 800;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}
.detail-btn:hover,
.github-btn:hover {
  color: $black;
  background-color: white;
}
.detail-btn {
  margin-right: 1rem;
}

small {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -95%);
  margin: 1rem 0;
  font-size: 0.6rem;
  color: $offWhite;
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size: 2.5rem;
  }

  article {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
  }

  .skill {
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  .indicators {
    display: none !important;
  }

  .line {
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: topTobottom 3s normal infinite ease-in-out;
  }

  .point {
    padding: 4rem 1rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  .skill {
    ul {
      li {
        padding: 0 0.5rem;
      }
    }
  }

  .detail-btn,
  .github-btn {
    padding: 10px 3px;
    font-size: 0.5rem;
  }
}

@media screen and (max-width: 319px){
  h3 {
    font-size: 1.8rem;
  }


}

