<div class="flexContainer">
  <app-header [whitelogo]="true"></app-header>
  <main>
    <section class="about wrap">
      <h1>About me</h1>

      <div class="about-box wrap">
        <div class="about-item wrap">
          <h2>
            I am a <br />
            Front-end Developer <br />
            who loves
          </h2>
          <div class="about-items">
            <ul>
              <li class="about-tittle" *ngFor="let about of aboutItem.data.attributes.about_descriptions.data">
                {{about.attributes.Title}}
                <ul>
                  <li>
                    {{about.attributes.Description}}
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="about-personal">
          <h2>Personal Interests</h2>
          <div class="personal-item wrap">
            <ul class="personal-desc">
              <li class="personal-title" *ngFor="let personal of aboutItem.data.attributes.about_personals.data">

                {{personal.attributes.Title}}
                <ul>
                  <li>
                    {{personal.attributes.Description}}
                  </li>
                </ul>
              </li>
            </ul>
            <div class="video-wrap wrap">
              <video
                src="../../assets/video/hologram_videoportfolio.mp4"
                type="video/mp4"
                loop
                playsinline
                autoplay
                muted
              ></video>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skills wrap">
      <h1>Skills</h1>
      <div class="skill skill-frontEnd wrap">
        <h2>Front-end</h2>
        <ul class="wrap">
          <li *ngFor="let front of aboutItem.data.attributes.front_end_skills.data">{{front.attributes.SkillName}}</li>
        </ul>
      </div>

      <div class="skill skill-backEnd wrap">
        <h2>Back-end</h2>
        <ul class="wrap">
          <li *ngFor="let back of aboutItem.data.attributes.back_end_skills.data">{{back.attributes.SkillName}}</li>
        </ul>
      </div>
      <div class="skill skill-else wrap">
        <h2>What else I can do</h2>
        <ul class="wrap">
          <li *ngFor="let others of aboutItem.data.attributes.other_skills.data">{{others.attributes.SkillName}}</li>
        </ul>
      </div>
    </section>

    <div
      class="resumeLink wrap"
    >
      <a href="../../assets/resume/YukaYamamoto.pdf" target="_blank">
        <p>VIEW RESUME</p>
      </a>
    </div>
  </main>
  <app-footer></app-footer>
</div>
