@import "../app.component.scss";

h3,
p,
li {
  color: $offWhite;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  background: #000;
}

// Header
app-header,
app-footer {
  flex-grow: 0;
}

main {
  min-height: 100vh;
  flex-grow: 1;
}

.wrap {
  @include flex();
}

section {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

h1,
h2 {
  width: 100%;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-family: "Anton", sans-serif;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
}

.about {
  margin-top: 10vh;
  padding: 3rem 2rem 5rem 2rem;
}

.about-box {
  width: 100%;
  flex-direction: column;
}

.about-item {
  flex-direction: column;
  margin-bottom: 5rem;
  .about-items {
    .about-tittle {
      margin-bottom: 1rem;
    }
  }
}
.about-personal {
  h2 {
    margin-bottom: 1rem;
  }
  .personal-item {
    flex-direction: column;
    .personal-desc {
      .personal-title {
        margin-bottom: 1rem;
      }
    }
  }
}
.video-wrap {
  video {
    width: 300px;
    height: 300px;
  }
}

.skills {
  padding: 0 2rem 0 1rem;
  h1 {
    padding-left: 1rem;
  }
}

.skill {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 5rem;
  h2 {
    padding-left: 1rem;
  }
  ul {
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
      margin-bottom: 1rem;
      padding: 0 1rem;
      border-right: 1px solid $offWhite;
    }
    li:last-child {
      border-right: none;
    }
  }
}

.resumeLink {
  margin-bottom: 5rem;
  p {
    font-size: 2rem;
    font-family: "Anton", sans-serif;
    transition: color 0.3s ease-in-out;
  }
  p:hover {
    color: $yellow;
  }
}

@media screen and (min-width: 768px) {
  main {
    padding: 2rem 4rem;
  }
  .about-box {
    justify-content: space-around;
    align-items: flex-start;
  }

  .about-item {
    width: 100%;
    align-items: flex-start;
  }

  .about-personal {
    width: 100%;
    h2 {
      padding: 0rem;
    }
    .personal-item {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      .personal-desc {
        width: 50%;
        padding: 0rem;
      }
    }
  }


}

@media screen and (min-width: 1024px) {
  main {
    padding: 0 15rem;
  }
  .about {
    padding: 3rem 2rem 8rem 2rem;
  }
}

@media screen and (min-width: 1920px) {
  main {
    padding: 0 20rem;
  }

}
