<div class="flexContainer">
  <app-header [whitelogo]="true"></app-header>
  <main>
    <section class="about wrap">
      <h1>About me</h1>
      <div class="about-box wrap">
        <div class="about-item wrap">
          <h2>
            I am a <br />
            Creative Designer <br />
            who loves
          </h2>
          <div class="about-items">
            <ul>
              <li class="about-tittle">
                To figure things out and solve problems
                <ul>
                  <li>
                    When faced with a problem, I feel that there is a lot to
                    discover and enjoy!
                  </li>
                </ul>
              </li>
              <li class="about-tittle">
                To make people have wonderful experiences
                <ul>
                  <li>
                    Making people happy and wonderful experiences makes me
                    wonderful as well!
                  </li>
                </ul>
              </li>
              <li class="about-tittle">
                To challenge new things with curiosity
                <ul>
                  <li>
                    I would like to grow fast and always keep absorbing many
                    things!
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <div class="about-personal">
          <h2>Personal Interests</h2>
          <div class="personal-item wrap">
            <ul class="personal-desc">
              <li class="personal-title">
                Music
                <ul>
                  <li>
                    I love collecting records and music products. Also my
                    favourite pastime is looking at album cover designs!
                  </li>
                </ul>
              </li>
              <li class="personal-title">
                Movie
                <ul>
                  <li>
                    I grew up watching Star Wars. I recently got into making
                    space videos with After Effects!
                  </li>
                </ul>
              </li>
            </ul>
            <div class="video-wrap wrap">
              <video
                src="../../assets/video/hologram_videoportfolio.mp4"
                type="video/mp4"
                loop
                playsinline
                autoplay
                muted
              ></video>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="skills wrap">
      <h1>Skills</h1>
      <div class="skill skill-frontEnd wrap">
        <h2>Coding</h2>
        <ul class="wrap">
          <li>HTML5</li>
          <li>Sass</li>
          <li>Bootstrap</li>
          <li>JavaScript</li>
          <li>Angular</li>
          <li>MySQL</li>      
        </ul>
      </div>

      <div class="skill skill-else wrap">
        <h2>What else I can do</h2>
        <ul class="wrap">
          <li>Wordpress</li>
          <li>Git</li>        
        </ul>
      </div>
      <div class="skill skill-else wrap">
        <h2>Design</h2>
        <ul class="wrap">
          <li>Photoshop</li>
          <li>Illustrator</li>
          <li>After Effect</li>
          <li>Premier Pro</li>  
          <li>Figma</li>  
        </ul>
      </div>
    </section>

    <!-- <div
      class="resumeLink wrap"
    >
      <a href="../../assets/resume/YukaYamamoto.pdf" target="_blank">
        <p>VIEW RESUME</p>
      </a>
    </div> -->
  </main>
  <app-footer></app-footer>
</div>
