
h2,h3{
  letter-spacing: 1.2px;
  font-family: 'JetBrains Mono', monospace,sans-serif;
  font-weight: bold;
}

main{
  min-height: 90vh;
  background-color: #F2F2F2;
}

section{
  padding: 5rem 3rem;
}

.apparel-heading {
  font-size: 3rem;
}

.apparel-items {
  padding: 2rem 3rem;
}

.apparel-item-box{
  padding: 3rem 0;
}

.apparel-item {
  height: 250px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.apparel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.apparel-item:hover img:nth-of-type(2) {
  -webkit-transform: translate(-50%, -50%) scale(1.15) !important;
  transform: translate(-50%, -50%) scale(1.15) !important;
  opacity: 0;
}

.apparel-item-title {
  font-size: 24px;
}

.apparel-item-price {
  font-weight: bold;
  font-style: italic;
}

.apparel-btn {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #4d77ba;
  border: none;
  border-radius: 10px;
}

.apparel-btn:hover {
  background-color: #314b75;
}

.instock {
  color: green;
}

.outofstock {
  color: red;
}

.nonedisplay {
  display: none;
}


@media screen and (min-width:768px) {
  .apparel-items{
    padding: 2rem 0;
  }
  .apparel-item-box{
    padding: 1rem;
  }
  section{
    padding: 5rem 1rem;
  }
}


@media screen and (min-width:1024px) {
  .apparel-item-box{
    padding: 3rem;
  }
}
