@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$black: #0d0d0d;
$offWhite: #d9d9d9;
$white: #ffffff;
$yellow: #b59b59;
$Dyellow:#917C46;

@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition() {
  transition: all 0.5s ease-in-out;
}


// Base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

a,
h1,
h2,
h3,
p {
  color: $offWhite;
  font-family: Helvetica, sans-serif;
}

// More Btn
.more-btn {
  position: relative;
  overflow: hidden;
  border: 1px solid $black;
  color: #18181a;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  background: transparent;
}

.more-btn span:first-child {
  position: relative;
  transition: color 0.6s ease-in-out;
  z-index: 2;
}

.more-btn span:last-child {
  color: $white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 0.5s ease-in-out;
  z-index: 4;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(200%) translateX(-50%);
}

.more-btn:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 3;
}

.more-btn:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.more-btn:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}